{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify">
        <div class="col-12 text-center">
            <h1>Bonjour</h1>
            <p>Creation de Recettes avec la listes des Produits deja simulée</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 d-flex justify-content-around">
            <a href="{{path('produits_index')}}" class="btn btn-primary">Produits</a>
            <a href="{{path('techniques_index')}}" class="btn btn-primary">Techniques</a>
        </div>
    </div>
</div>
{% endblock %}

