<form method="post" action="{{ path('produits_delete', {'id': produit.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce Produit ?<br>Cela supprimera aussi toutes les recettes avec ce produit !);"class="d-inline m-0">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
    <button class="btn btn-danger mx-0 btn-sm">Supprimer</button>
    
</form>
