<div class="container">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success d-inline btn-sm">{{ button_label|default('Sauvegarder') }}</button>
    <a href="{{ path('produits_index') }}" class="btn btn-light btn-sm">Retour à la liste</a>
{{ form_end(form) }}
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
    $(function() {
        $('.selected2').select2({});
        $('.selected3').select2({
            multiple: 'true'
        });
    });

</script>