{% extends 'base.html.twig' %}

{% block title %}Editer Produits{% endblock %}

{% block body %}
    <h1>Editer Produits</h1>

    {{ include('produits/_form.html.twig', {'button_label': 'Sauvegarder'}) }}


{% endblock %}
