{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success my-3">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning my-3">
            {{ message }}
        </div>
    {% endfor %}

    <h1>Produits</h1>

    <a href="{{ path('index') }}" class="float-left btn btn-light btn-sm">Retour</a>
    <a href="{{ path('produits_new') }}" class="btn btn-primary btn-sm float-right" id="nouveau">Nouveau</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Unité</th>
                <th>Prix à l'unité</th>
                <th>Endroit de Stockage</th>
                <th>Fournisseur</th>
                <th>Actions</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td data-label="Id">{{ produit.id }}</td>
                <td data-label="Nom">{{ produit.nom }}</td>
                <td data-label="Unité">{{ produit.unite.nom }}</td>
                <td data-label="Prix à l'unité">{{ produit.prix }} €</td>
                <td data-label="Endroit de stockage">{{ produit.stockage.nom  }}</td>
                <td data-label="Fournisseur">{{ produit.fournisseur.nom  }}</td>                
                <td data-label="Actions">
                    <a href="{{ path('produits_show', {'id': produit.id}) }}" class="btn btn-primary btn-sm">Référence</a>
                    <a href="{{ path('produits_edit', {'id': produit.id}) }}" class="btn btn-secondary btn-sm">Modifier</a>
                    {{ include('produits/_delete_form.html.twig') }}
                </td>
                <td data-label="Date">{{produit.date|date('Y-m-d')}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
