{% extends 'base.html.twig' %}

{% block title %}Nouveaux Produits{% endblock %}

{% block body %}
    <h1>Créer un nouveau produits</h1>

    {{ include('produits/_form.html.twig') }}


{% endblock %}
