{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <div class="container card mt-5 p-3">
        <span class="float-right">{{  produit.date|date('Y-m-d') }}</span>
        <div class="row justify-content-center my-3">
            <h1 class="m-3">{{ produit.nom }}</h1>
        </div>
        <div class="row my-3">
            <div class="col-6">
                <p class="d-inline h4">Unite : {{ produit.unite.nom }} </p>
            </div>
            <div class="col-6">
                <p class="d-inline h4">Prix a l'unité : {{ produit.prix }} €</p>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-6">
                <p class="d-inline h4">Stockage : {{ produit.stockage.nom }} </p>
            </div>
            <div class="col-6">
                <p class="d-inline h4">Fournisseur : {{ produit.fournisseur.nom }} </p>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-6">
                <p class="d-inline h4">Famille : {{ produit.famille.nom ? produit.famille.nom }} </p>
            </div>
            <div class="col-6">
                <p class="d-inline h4">Allergenes : {% for allergene in produit.allergenes %}
                    <span>{{ allergene.nom }}</span>
                    {% else %}
                    Pas d'allergenes
                    {% endfor %}</p>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-12">
                <p class="h4">Infos supplementaire :</p>
                <p>{{ produit.info }}</p>
            </div>
            
        </div>
        
          
   
    </div>
    <div class="d-flex justify-content-center my-3">
            <div>
                <a href="{{ path('produits_index') }}" class="btn btn-light btn-sm">Retour à la liste</a>
            </div>
            <div class="mx-3">
                <a href="{{ path('produits_edit', {'id': produit.id}) }}" class="btn btn-primary btn-sm ">Modifier</a>
            </div>   
            {{ include('produits/_delete_form.html.twig') }}
        </div>
{% endblock %}