<form method="post" action="{{ path('techniques_delete', {'id': technique.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette fiche technique ?');" class="d-inline m-0">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ technique.id) }}">
    <button class="btn btn-danger btn-sm mx-0">Supprimer</button>
</form>
