<div class="container">
{{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.portions) }}
    {{ form_row(form.description) }}
    {{ form_row(form.image) }}
    {{ form_row(form.progression) }}
    {{ form_row(form.point_crit) }}
    {{ form_row(form.allergenes) }}
    {{ form_row(form.classement) }}
    {{ form_row(form.froid) }}
    <div id="ingredients" data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e('html_attr' ) }}" class="row border p-3">
        <p class="col-12">Ingrédients<p>
        {{ form_widget(form.ingredients) }}
    </div>
    <button class="btn btn-success btn-sm  d-inline">{{ button_label|default('Sauvegarder') }}</button>
    <a href="{{ path('techniques_index') }}" class="btn btn-light btn-sm">Retour</a>

{{ form_end(form) }}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>

    $(function() {
        $('.selected2').select2({});
        $('.selected3').select2({
            multiple: 'true'
        });
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagButton = $('<button type="button" class="btn btn-dark">Ajouter un Produit</button>');
        var $newLink = $('<div class="col-3 mb-3"></div>').append($addTagButton);

        // Get the ul that holds the collection of tags
        $collectionHolder = $('#ingredients');

        // add the "add a tag" anchor and li to the tags ul
        $collectionHolder.append($newLink);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addTagButton.on('click', function(e) {
            // add a new tag form (see next code block)
            addIngredientForm($collectionHolder, $newLink);
        });
    });


    function addIngredientForm($collectionHolder, $newLink) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        var newForm = prototype;
        // get the new index
        var index = $collectionHolder.data('index');

        newForm = newForm.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormSpan = $('<div class="col-3 mb-3"></div>').append(newForm);
        $newLink.before($newFormSpan);

        $('.selected2').select2({});

        addIngredientFormDeleteLink($newFormSpan)

    }

    function addIngredientFormDeleteLink($ingredientFormSpan) {
        var $removeFormButton = $('<button type="button" class="btn btn-danger">Delete</button>');
        $ingredientFormSpan.append($removeFormButton);

        $removeFormButton.on('click', function(e) {
            // remove the li for the tag form
            $ingredientFormSpan.remove();
        });
    }


</script>