{% extends 'base.html.twig' %}

{% block title %}Modifier Fiche Technique{% endblock %}

{% block body %}
    <h1>Modifiez votre Fiche Technique</h1>

    {{ include('technique/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    

    
{% endblock %}
