{% extends 'base.html.twig' %}

{% block title %}Technique index{% endblock %}

{% block body %}


    <h1>Technique</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success my-3">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning my-3">
                {{ message }}
            </div>
        {% endfor %}
    <a href="{{ path('index') }}" class="float-left btn btn-light btn-sm">Retour</a>
    <a href="{{ path('techniques_new') }}" class="float-right btn btn-info btn-sm">Nouveau</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Nombre de portions</th>
                <th>Prix portions</th>
                <th>Prix total</th>
                <th>Classement</th> 
                <th>actions</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        {% for technique in techniques %}
            <tr>
                <td data-label="Nom">{{ technique.nom }}</td>
                <td data-label="Nombre de portions">{{ technique.portions }}</td>
                <td data-label="Prix portions">{{ (( technique.prix) / technique.portions)|round(2, 'floor') }} €</td>
                <td data-label="Prix total">{{ technique.prix}} €</td> 
                <td data-label="Classement">{{ technique.classement.nom }} </td> 
                <td data-label="actions">
                    <a href="{{ path('techniques_show', {'id': technique.id}) }}" class="btn btn-primary btn-sm">Détails</a>
                    <a href="{{ path('techniques_edit', {'id': technique.id}) }}" class="btn btn-secondary btn-sm">Modifier</a>
                    {{ include('technique/_delete_form.html.twig') }}
                <td data-label="Date">{{ technique.date|date('Y-m-d')}}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
