{% extends 'base.html.twig' %}

{% block title %}Ajouter Fiche Technique{% endblock %}

{% block body %}
    <div class="container">       
    
        <h1>Ajouter une nouvelle fiche technique</h1>

        {{ include('technique/_form.html.twig') }}



{% endblock %}
