{% extends 'base.html.twig' %}

{% block title %}Technique{% endblock %}

{% block body %}

<div class="container card my-3 p-4">
    <div class="row justify-content-between">
        <span class="mx-3">{{technique.date|date('Y-m-d')}}</span>
    </div>
    <div class="row my-3">
        <div class="col-12">
            <h1 class="text-center mt-3">{{ technique.nom }}</h1>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-8">
            <div class="row">
                <div class="col-6">
                    <p>Classement: {{ technique.classement.nom }}</p>
                    <p class="d-inline">Portions: {{ technique.portions }}</p>
                    <p>Froid :
                        {% if technique.froid == 1 %}
                            oui
                        {% else %}
                            non
                        {% endif %}
                    </p>
                </div>

                
                <div class="col-6">
                    <p class="d-inline">Cout portions : {{ ( technique.prix / technique.portions )|round(2, 'floor') }} €
                    </p>
                    <p>Cout total : {{technique.prix  }} € </p>
                </div>
            </div>


            {% if technique.image %}
            <div class="col-12">
                    <img src="{{asset('uploads/images/fiches/' ~ technique.image)}}" alt="technique.nom" id="image" class="">
                
            </div>
            {% endif %}
        </div>
        <div class="col-4">
            <h2>Allergènes:</h2>
            <p class="d-inline"> 
                {% for allergene in technique.allergenes %}
                        {{allergene.nom}} <br> 
                {% endfor %} 
            </p>
        </div>
    </div>    
    <div class="row my-3">
        <div class="col-12">
            <h3>Description :</h3>
            <p class="mx-3"> "{{ technique.description }} "</p>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-6">
            <h3>Produits: </h3>
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Unité</th>
                        <th>Quantités</th>
                        <th>Prix unitaire</th>
                        <th>Prix total</th>
                    </tr>
                </thead>
                <tbody>                   
                    {% for ingredient in technique.ingredients %}
                        <tr>
                            <td> {{ingredient.produits.nom}}</td>
                            <td> {{ingredient.produits.unite.nom}}</td>
                            <td> {{ingredient.Quantity}}</td>
                            <td> {{ingredient.produits.prix}} €</td>
                            <td> {{ingredient.produits.prix * ingredient.Quantity}} €</td>
                        </tr> 
                    {% endfor %}
                </tbody>
            </table>           
        </div>
        <div class="col-6">
            <h3>Progression: </h3>
            <p class="p-3">{{ technique.progression }}</p> 
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12 border border-danger p-3">
            <h3 class="mt-0">Point critique: </h3>
            <p class="text-center">{{ technique.pointCrit }}</p>
        </div>
    </div>
</div>

<div class="container my-3">
    <div class="row justify-content-center"> 
        <div class="col-6 d-flex justify-content-around">     
            <a href="{{ path('techniques_index') }}" class="btn btn-info btn-sm mx-1">Retour</a>
            <a href="{{ path('techniques_edit', {'id': technique.id}) }}" class="btn btn-secondary btn-sm">Modifier</a>
            {{ include('technique/_delete_form.html.twig') }}
        </div>
    </div>
</div>


{% endblock %}

